---
import Image from "astro/components/Image.astro"

interface Props {
  image: string
  title: string
  about: string
  link: string
  tags: Array<string>
}

const { image, title, about, link, tags } = Astro.props
---

<div
  class="w-full p-6 rounded-md flex flex-col lg:flex-row justify-center items-start gap-6 hover:bg-sky-100/10"
>
  <div
    class="w-32 lg:w-72 text-neutral-500 uppercase font-semibold tracking-wide text-xs order-last lg:order-first ring-1 hover:ring-2"
  >
    <img src={image} width="auto" height="auto" class="" />
  </div>
  <div
    class="w-full lg:w-[48rem] flex flex-col justify-center items-start gap-4"
  >
    <a target="_blank" href={link}>
      <span class="flex flex-row items-center gap-2">
        <h3 class="font-medium tracking-wide text-neutral-200">
          {title}
        </h3>
        <svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M3.64645 11.3536C3.45118 11.1583 3.45118 10.8417 3.64645 10.6465L10.2929 4L6 4C5.72386 4 5.5 3.77614 5.5 3.5C5.5 3.22386 5.72386 3 6 3L11.5 3C11.6326 3 11.7598 3.05268 11.8536 3.14645C11.9473 3.24022 12 3.36739 12 3.5L12 9.00001C12 9.27615 11.7761 9.50001 11.5 9.50001C11.2239 9.50001 11 9.27615 11 9.00001V4.70711L4.35355 11.3536C4.15829 11.5488 3.84171 11.5488 3.64645 11.3536Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"></path></svg
        >
      </span>
    </a>
    <p class="text-neutral-400">{about}</p>
    <ul class="flex flex-row justify-start items-center gap-4 flex-wrap">
      {
        Array.from(tags).map((tag) => (
          <span class="bg-sky-400/20 text-sky-400 font-medium tracking-wide text-sm py-1.5 px-4 rounded-full">
            {tag}
          </span>
        ))
      }
    </ul>
  </div>
</div>
